/* css file for chrismess */

body {
    background-color: #1a1a1d;
}

#borderBox {
    border: thin solid white;
    height: 600px;
    width: 600px;
    position: absolute;
    top:0px;
    left: 0px;
}

h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 70px;
  text-align: center;
  color: #C3073F;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #C3073F;  
}

button {
    text-decoration: none;
    border: none;
    color: white;
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 5px 10px 5px 10px;
    background-color: #950740;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

input {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

