/* css file for chrismess */
body {
    background: linear-gradient(325deg, #D74177, #FFE98A);
}

html {
    height: 100%;
 }


h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 70px;
  text-align: center;
  color: white;
}


button {
    text-decoration: none;
    border: none;
    color: white;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 5px 10px 5px 10px;
    background-color: #950740;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 230px;
    height: 25px;
    background-color: #dbdcdd;
}

#movieNames {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    display: inline;
    padding-left: 500px;
    float: left;
    overflow: hidden;
}

#yearName {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    float: right;
    padding-right: 600px;
}

ul li {
    background: #a82353 ;
    margin: 5px;
    list-style-type: none;
}


